@mixin widthHaight($width, $haight) {
  width: $width;
  height: $haight;
}

@mixin marginPadding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin displayFlex(
  $display: flex,
  $flexdirection: row,
  $justify: start,
  $align: start
) {
  display: $display;
  flex-direction: $flexdirection;
  justify-content: $justify;
  align-items: $align;
}
