@import "./abstracts/mixin";
@import "./abstracts/variable";

html {
  display: flex;
  box-sizing: border-box;
  @include widthHaight(100%, 100%);
}

body {
  align-items: center;
  justify-content: center;
  // @include widthHaight(1512px, 100vh);
  max-width: 1520px;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  outline: none;
  text-decoration-line: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  column-gap: 20px;
  max-width: 1512px;
  max-height: 64px;
}

.header-logo {
  width: 118px;
  height: auto;
  margin-right: 30px;
}

.head-input input {
  margin: 0;
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.header-logo-small {
  width: 100px;
  display: none;
}

.btn-header {
  margin-right: 15px;
}

.header-logo:hover {
  transform: scale(1.1);
}

.leftside-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightside-head {
  display: flex;
  column-gap: 20px;
}

.links-right {
  display: flex;
  column-gap: 20px;
}

.rightside-head a {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  color: #707070;
  text-decoration: underline;
}

// .search__input__left,
// .search__input__right {
//   @include widthHaight(300px, 42px);
//   @include borderPadding(, 5px 10px);
// }

.search__input__left {
  border: 1px solid #ccc;
  border-radius: 8px 0px 0px 8px;
  @include widthHaight(300px, 42px);
  // border: 1px 0px 0px 0px;
  // color: #333;
}

.search__input__right {
  border: 1px solid #ccc;
  border: 1px 0px 0px 0px;
  @include widthHaight(255px, 42px);
}

.search__input__left::-moz-placeholder {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
  background-repeat: no-repeat;
  background-position: left;
  background-position: 5px center;
  padding-left: 30px;
}

.search__input__left::placeholder {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
  background-repeat: no-repeat;
  background-position: left;
  background-position: 5px center;
  padding-left: 30px;
}

.search__svg {
  cursor: pointer;
}

.search__svg:hover {
  opacity: 80%;
}

.search__input__right::-moz-placeholder {
  color: #0f0f0f;
}

.search__input__right::placeholder {
  color: #0f0f0f;
  // margin: 0 5px;
}

.search__svg {
  @include widthHaight(44px, 44px);

  background-color: #f65858;
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: center;
  border: none;
  border-radius: 0px 8px 8px 0px;
}

.btn__header {
  width: 83px;
  height: 36px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  background-color: rgba(0, 121, 138, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 15px;
}

.btn__header:hover {
  background-color: #16a5b8;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .header {
    justify-content: none;
  }

  .leftside-head {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .header {
    white-space: unset;
  }

  .leftside-head input {
    width: 60%;
  }

  .links-right {
    column-gap: 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .rightside-head {
    width: 100vw;
    justify-content: space-between;
  }

  #input-left {
    margin-left: 16px;
    width: 90%;
  }

  .leftside-head {
    order: 1;
    flex-basis: 100%;
  }

  .header-logo-small {
    display: block;
  }

  .header-logo {
    display: none;
  }

  .search__input__right {
    display: none;
  }

  #input-left {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  #input-left {
    margin-left: 3px;
    width: 90%;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1196px;
  padding-left: 10%;
  padding-right: 10%;
}

.firstMainCont {
  display: flex;
  margin-top: 70px;
  max-width: 1196px;
  margin-bottom: 30px;
}

main div div p {
  margin: 10px 0;
  line-height: 24px;
  font-size: 16px;
}

.firstMainContBtn {
  width: 125px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(0, 121, 138, 1);
  color: rgba(255, 255, 255, 1);
}

.firstLeft {
  width: 600px;
}

.firstRight {
  width: 380px;
  height: 270px;
  margin-bottom: 10px;
}

.eventsNear {
  display: flex;
  flex-direction: column;
  // max-width: 1196px;
  margin-bottom: 30px;
  // border: 2px solid rgb(110, 172, 230);
}

.headEventsNear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1196px;
}

.headEventsNearLeft {
  display: flex;
  align-items: center;
  justify-content: start;
}

.mountainView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 44px;
  background-color: rgba(151, 202, 209, 0.12);
  color: rgba(0, 121, 138, 1);
  border-radius: 8px;
  margin-left: 10px;
  padding: 0 15px;
  cursor: pointer;
}
.headEventsNearRight p {
  color: rgba(0, 121, 138, 1);
  cursor: pointer;
}

.allEventsNear {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1196px;
  margin-top: 15px;
}

.eventsBoxItem {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 400px;
  margin: 10px;
}

.eventsBoxItem .eventsBoxItemImg {
  max-width: 250px;
  height: 150px;
}
.infoItems li {
  color: rgba(112, 112, 112, 1);
  margin: 10px 0;
}
.infoItems li h4 {
  color: rgba(33, 33, 33, 1);
}

.headerOnlineEvents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerOnlineEvents p {
  color: rgba(0, 121, 138, 1);
  cursor: pointer;
}

.allOnlineEvents {
  display: flex;
  flex-wrap: wrap;
  max-width: 1196px;
}

.joinMeetup {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  max-width: 1192px;
  max-height: 236px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
  padding: 4%;
  margin-bottom: 20px;
}

.joinMeetupLeft {
  max-width: 740px;
  max-height: 165px;
}

.joinMeetupLeft button {
  width: 192px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(227, 35, 89, 1);
  color: rgba(255, 255, 255, 1);
}

.joinMeetupRight {
  max-width: 341px;
  max-height: 196px;
}

.topCategories {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}

.topCategories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 135px;
  height: 112px;
  background-color: rgba(151, 202, 209, 0.08);
  color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  margin: 5px;
  padding: 20px;
}

.popularCities {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// ПОЧЕМУ НЕ ОТРАБАТЫВАЕТ margin для Popular cities on Meetup ?
// .popularCities h3 p div {
//   margin: 30px;
// }

.popularCitiesImg {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.popularCitiesImgItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: max-content;
  //
  padding-top: 16px;
}

.popularCitiesImgItem img {
  max-width: 205px;
  max-height: 205px;
}

.popularCities h3 p div {
  margin: 200px;
}

.popularCities p {
  color: rgba(112, 112, 112, 1);
}

.popularCitiesImg {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.howMeetupWorks {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.howMeetupWorks h3 {
  margin-bottom: 20px;
}

.howMeetupWorksItem {
  display: flex;
}

.howMeetupWorksItemLeft,
.howMeetupWorksItemRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 160px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
}

.howMeetupWorksItemLeft div,
.howMeetupWorksItemRight div {
  display: flex;
}

.howMeetupWorksItemLeft div div img,
.howMeetupWorksItemRight div div img {
  max-width: 40px;
  max-height: 40px;
}

// .howMeetupWorksItemLeft div div div p p,
// .howMeetupWorksItemRight div div div p p {
//   color: rgba(0, 121, 138, 1);
// }
.pTeal {
  color: rgba(0, 121, 138, 1);
  font-weight: bold;
  cursor: pointer;
}

.howMeetupWorksItemFlex,
.howMeetupWorksItemFlex {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

// ============================================

.Friendships {
  display: flex;
  flex-direction: column;
}

.Friendships h2,
.Friendships p,
.Friendships .FriendshipsFlex {
  margin-top: 10px;
  margin-bottom: 10px;
}

.FriendshipsFlex {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Расстояние между элементами */
  margin-top: 20px;
}

.FriendshipsFlex div {
  display: flex;
  flex-direction: column;
}

.FriendshipsFlex div img,
.FriendshipsFlex div h3,
.FriendshipsFlex div p,
.FriendshipsFlex div p p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.colorGray {
  color: rgba(112, 112, 112, 1);
}
.colorTeal {
  color: rgba(0, 121, 138, 1);
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 1510px;
  height: 560px;
  background-color: rgba(33, 33, 33, 1);
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
  // убрать
}

.headerFooter {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid rgba(246, 247, 248, 0.7);
  padding: 16px 0;
  margin-bottom: 12px;
  gap: 16px;
}

.headerFooter h3 {
  color: $primary-font-color-footer;
}

.headerFooter a,
.socialMediaLinkApp a img {
  border-radius: $primary-border-radius;
  border: $primary-border;
}

.footerLink {
  align-content: center;
  text-align: center;
  @include widthHaight(120px, 44px);
  color: $primary-font-color-footer;
  border: 1px solid white;
  border-radius: $primary-border-radius;

  // спросить у Астемира, как убрать opacity при наведении на кнопку.
  &:hover {
    transition: opacity 1;

    text-decoration-line: none;
  }
  // спросить у Астемира, как убрать opacity при наведении на кнопку.
}

.navAllFooter {
  @include displayFlex(flex, row, space-between, start);
}

footer div ul h3,
.socialFooter h3 {
  color: $primary-font-color-footer;
}

footer div ul li a {
  color: $primary-font-color-footer;
  opacity: 0.7;
}

.socialMediaAll {
  @include displayFlex(flex, row, space-between, center);
}

// .socialFooter,
// .socialMediaAll {
//   color: $primary-font-color-footer;
//   opacity: 0.7;
// }
