html {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  align-items: center;
  justify-content: center;
  max-width: 1520px;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  outline: none;
  text-decoration-line: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header-logo {
  width: 118px;
  height: auto;
  margin-right: 30px;
}

.head-input input {
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.header-logo-small {
  width: 100px;
  display: none;
}

.btn-header {
  margin-right: 15px;
}

.header-logo:hover {
  transform: scale(1.1);
}

.leftside-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightside-head {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.links-right {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.rightside-head a {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  color: #707070;
  text-decoration: underline;
}

.search__input__left {
  border: 1px solid #ccc;
  border-radius: 8px 0px 0px 8px;
  width: 300px;
  height: 42px;
}

.search__input__right {
  border: 1px solid #ccc;
  border: 1px 0px 0px 0px;
  width: 255px;
  height: 42px;
}

.search__input__left::-moz-placeholder {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
  background-repeat: no-repeat;
  background-position: left;
  background-position: 5px center;
  padding-left: 30px;
}

.search__input__left::placeholder {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23202020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
  background-repeat: no-repeat;
  background-position: left;
  background-position: 5px center;
  padding-left: 30px;
}

.search__svg {
  cursor: pointer;
}

.search__svg:hover {
  opacity: 80%;
}

.search__input__right::-moz-placeholder {
  color: #0f0f0f;
}

.search__input__right::placeholder {
  color: #0f0f0f;
}

.search__svg {
  width: 44px;
  height: 44px;
  background-color: #f65858;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0px 8px 8px 0px;
}

.btn__header {
  width: 83px;
  height: 36px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  background-color: rgb(0, 121, 138);
  color: rgb(255, 255, 255);
  margin-right: 15px;
}

.btn__header:hover {
  background-color: #16a5b8;
}

@media (max-width: 1200px) {
  .header {
    justify-content: none;
  }
  .leftside-head {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .header {
    white-space: unset;
  }
  .leftside-head input {
    width: 60%;
  }
  .links-right {
    -moz-column-gap: 10px;
         column-gap: 10px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .rightside-head {
    width: 100vw;
    justify-content: space-between;
  }
  #input-left {
    margin-left: 16px;
    width: 90%;
  }
  .leftside-head {
    order: 1;
    flex-basis: 100%;
  }
  .header-logo-small {
    display: block;
  }
  .header-logo {
    display: none;
  }
  .search__input__right {
    display: none;
  }
  #input-left {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  #input-left {
    margin-left: 3px;
    width: 90%;
  }
}
main {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.firstMainCont {
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 1510px;
  height: 560px;
  background-color: rgb(33, 33, 33);
  padding-left: 10%;
  padding-right: 10%;
}

.headerFooter {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid rgba(246, 247, 248, 0.7);
  padding: 16px 0;
  margin-bottom: 12px;
  gap: 16px;
}

.headerFooter h3 {
  color: rgb(246, 247, 248);
}

.headerFooter a,
.socialMediaLinkApp a img {
  border-radius: 8px;
  border: 2px solid rgb(246, 247, 248);
}

.footerLink {
  align-content: center;
  text-align: center;
  width: 120px;
  height: 44px;
  color: rgb(246, 247, 248);
  border: 1px solid white;
  border-radius: 8px;
}
.footerLink:hover {
  transition: opacity 1;
  text-decoration-line: none;
}

.navAllFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

footer div ul h3,
.socialFooter h3 {
  color: rgb(246, 247, 248);
}

footer div ul li a {
  color: rgb(246, 247, 248);
  opacity: 0.7;
}

.socialMediaAll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */